.container-pokemon {
    width: 100%;
    max-width: 400px;
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cloud-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url('../../assets/cloud.jpg');
    background-position: center;
}

.cloud-img {
    width: 120px;
    height: 120px;
}